# ANALASIS DE DATOS

In [22]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [23]:
df = pd.read_csv('covid19_tweets.csv')

In [24]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [25]:
df.isnull().sum()

user_name               0
user_location       36771
user_description    10286
user_created            0
user_followers          0
user_friends            0
user_favourites         0
user_verified           0
date                    0
text                    0
hashtags            51334
source                 77
is_retweet              0
dtype: int64

In [26]:
df.isnull().any()

user_name           False
user_location        True
user_description     True
user_created        False
user_followers      False
user_friends        False
user_favourites     False
user_verified       False
date                False
text                False
hashtags             True
source               True
is_retweet          False
dtype: bool

In [27]:
df['user_location'].isnull().sum()

36771

In [28]:
df[df['user_location'].isnull()]

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
7,Derbyshire LPC,NaN,NaN,2012-02-03 18:08:10,608,355,95,False,2020-07-25 12:27:00,You now have to wear face coverings when out s...,NaN,TweetDeck,False
8,Prathamesh Bendre,NaN,"A poet, reiki practitioner and a student of law.",2015-04-25 08:15:41,25,29,18,False,2020-07-25 12:26:59,Praying for good health and recovery of @Chouh...,"['covid19', 'covidPositive']",Twitter for Android,False
10,Voice Of CBSE Students,NaN,NaN,2020-07-14 17:50:30,8,10,7,False,2020-07-25 12:26:53,49K+ Covid19 cases still no response from \n@c...,NaN,Twitter Web App,False
16,ChennaiCityNow,NaN,Individual tweeting about significant happenin...,2009-04-26 09:38:11,3987,53,749,False,2020-07-25 12:26:44,July 25 #COVID19 update\n#TamilNadu - 6988\nDi...,"['COVID19', 'TamilNadu', 'chennai']",Twitter for iPhone,False
18,Dorian Aur,NaN,NaN,2011-01-30 18:40:16,46,108,453,False,2020-07-25 12:26:43,It is during our darkest moments that we must ...,['light'],Twitter Web App,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179083,Auntie Kittie,NaN,I'm the auntie you always wished you had. If ...,2019-12-25 18:36:22,888,545,33,False,2020-08-29 19:45:02,Just a quick note for my lovely members. Soci...,NaN,Sprout Social,False
179091,ü¶ã ROGUE ü¶ã,NaN,May all aching hearts find their way there thr...,2017-01-30 07:38:23,628,386,14845,False,2020-08-29 19:44:51,"@dougmillsnyt @realDonaldTrump @FLOTUS ""The #T...",['Trump'],Twitter for Android,False
179092,claudia fernandez,NaN,NaN,2015-07-02 23:07:03,68,192,2455,False,2020-08-29 19:44:49,@politvidchannel The Trump Administration's In...,['COVID'],Twitter Web App,False
179097,rainmaker,NaN,NaN,2017-08-16 22:12:17,709,1158,95006,False,2020-08-29 19:44:35,@politvidchannel Just not the lives of #COVID1...,"['COVID19', 'coronavirus', 'TrumpVirus']",Twitter for Android,False
179098,John Geer,NaN,#StayAtHome #StayAtHomeSaveLifes #MaskUp \nFor...,2020-04-18 01:55:14,61,168,10817,False,2020-08-29 19:44:34,Report #COVID19 outbreaks in K-12 schools here...,"['COVID19', 'CloseTheSchools', 'KeepTheSchools...",Twitter Web App,False

In [29]:
df.dropna(subset=['user_location'], inplace=True)

In [30]:
df[df.isnull().any(axis=1)]

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
14,DailyaddaaNews,New Delhi,Breaking news alerts from India.,2016-10-22 09:18:42,546,29,88,False,2020-07-25 12:26:46,Rajasthan Government today started a Plasma Ba...,NaN,Twitter Web App,False
19,Coronavirus Law,"Florida, USA",COVID-19 Practice of Lechner Law,2019-12-03 19:00:11,14,24,74,False,2020-07-25 12:26:39,COVID Update: The infection rate in Florida is...,NaN,Twitter for iPad,False
21,APO Group English,#AFRICA #MENA,Latest #Africa & #MENA related #News releases ...,2011-02-22 09:09:45,10661,6,2037,True,2020-07-25 12:26:31,Coronavirus - South Africa: COVID-19 update fo...,NaN,Africa Newsroom,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179085,3D Innovations,"Honolulu, Hawaii","Providing Engineering/3D Design, 3D Printing, ...",2011-07-06 19:50:05,5776,3762,13554,False,2020-08-29 19:45:01,How toilet paper and avocados help explain the...,NaN,Sprout Social,False
179090,Randy Richardson,"Des Moines, IA",Organizer with Iowans for Public Ed. Former (a...,2009-04-13 20:33:21,2873,4846,16713,False,2020-08-29 19:44:53,Johnston school district currently has 4 stude...,NaN,Twitter for Android,False
179096,laura l. sweet,"Los Angeles, CA","Creative Director/AD/CW, Advertising & Brandin...",2008-03-18 16:45:55,2146,1077,5306,False,2020-08-29 19:44:40,We were really bummed we couldn‚Äôt cop one of t...,NaN,Instagram,False
179105,BEEHEMOTH ‚è≥,üá®üá¶ Canada,‚öíÔ∏è The Architects of Free Trade ‚öíÔ∏è Really Did ...,2016-07-13 17:21:59,1623,2160,98000,False,2020-08-29 19:44:15,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App,False
179107,TUKY II,"Aliwal North, South Africa",TOKELO SEKHOPA | TUKY II | LAST BORN | EISH TU...,2018-04-14 17:30:07,97,1697,566,False,2020-08-29 19:44:08,I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android,False

In [31]:
df.shape

(142337, 13)