# An√°lisis de datos

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
df = pd.read_csv('covid19_tweets.csv')

In [4]:
df

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179103,AJIMATI AbdulRahman O.,"Ilorin, Nigeria",Animal Scientist|| Muslim|| Real Madrid/Chelsea,2013-12-30 18:59:19,412,1609,1062,False,2020-08-29 19:44:21,Thanks @IamOhmai for nominating me for the @WH...,['WearAMask'],Twitter for Android,False
179104,Jason,Ontario,When your cat has more baking soda than Ninja ...,2011-12-21 04:41:30,150,182,7295,False,2020-08-29 19:44:16,2020! The year of insanity! Lol! #COVID19 http...,['COVID19'],Twitter for Android,False
179105,BEEHEMOTH ‚è≥,üá®üá¶ Canada,‚öíÔ∏è The Architects of Free Trade ‚öíÔ∏è Really Did ...,2016-07-13 17:21:59,1623,2160,98000,False,2020-08-29 19:44:15,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App,False
179106,Gary DelPonte,New York City,"Global UX UI Visual Designer. StoryTeller, Mus...",2009-10-27 17:43:13,1338,1111,0,False,2020-08-29 19:44:14,"More than 1,200 students test positive for #CO...",['COVID19'],Twitter for iPhone,False
179107,TUKY II,"Aliwal North, South Africa",TOKELO SEKHOPA | TUKY II | LAST BORN | EISH TU...,2018-04-14 17:30:07,97,1697,566,False,2020-08-29 19:44:08,I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android,False

In [5]:
df.isna().sum()

user_name               0
user_location       36771
user_description    10286
user_created            0
user_followers          0
user_friends            0
user_favourites         0
user_verified           0
date                    0
text                    0
hashtags            51334
source                 77
is_retweet              0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179108 entries, 0 to 179107
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         179108 non-null  object
 1   user_location     142337 non-null  object
 2   user_description  168822 non-null  object
 3   user_created      179108 non-null  object
 4   user_followers    179108 non-null  int64
 5   user_friends      179108 non-null  int64
 6   user_favourites   179108 non-null  int64
 7   user_verified     179108 non-null  bool
 8   date              179108 non-null  object
 9   text              179108 non-null  object
 10  hashtags          127774 non-null  object
 11  source            179031 non-null  object
 12  is_retweet        179108 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 15.4+ MB

In [7]:
df['user_location'].isna()

0         False
1         False
2         False
3         False
4         False
          ...
179103    False
179104    False
179105    False
179106    False
179107    False
Name: user_location, Length: 179108, dtype: bool

In [8]:
df['user_location'].isna().sum()

36771

In [9]:
df['user_location'][df['user_location'].isna()]

7         NaN
8         NaN
10        NaN
16        NaN
18        NaN
         ...
179083    NaN
179091    NaN
179092    NaN
179097    NaN
179098    NaN
Name: user_location, Length: 36771, dtype: object

In [16]:
selected_data = df.loc[20:330, ["user_name","user_location","user_description","user_created"]]
selected_data.head()

,user_name,user_location,user_description,user_created
20,The Voice of GenX,NaN,NaN,2011-05-28 15:28:21
21,APO Group English,#AFRICA #MENA,Latest #Africa & #MENA related #News releases ...,2011-02-22 09:09:45
22,Micah Pollak,Northwest Indiana,Associate Professor of Economics (PhD in Econo...,2011-07-22 13:41:42
23,CAWST,100+ countries,"Providing training, education and technical co...",2009-08-06 02:43:36
24,Florian Bieber,Graz,"Niko i ni≈°ta, professor, so-called Balkan expe...",2009-06-18 09:46:10

In [17]:
df.drop(df.dropna().index)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
7,Derbyshire LPC,NaN,NaN,2012-02-03 18:08:10,608,355,95,False,2020-07-25 12:27:00,You now have to wear face coverings when out s...,NaN,TweetDeck,False
8,Prathamesh Bendre,NaN,"A poet, reiki practitioner and a student of law.",2015-04-25 08:15:41,25,29,18,False,2020-07-25 12:26:59,Praying for good health and recovery of @Chouh...,"['covid19', 'covidPositive']",Twitter for Android,False
10,Voice Of CBSE Students,NaN,NaN,2020-07-14 17:50:30,8,10,7,False,2020-07-25 12:26:53,49K+ Covid19 cases still no response from \n@c...,NaN,Twitter Web App,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179096,laura l. sweet,"Los Angeles, CA","Creative Director/AD/CW, Advertising & Brandin...",2008-03-18 16:45:55,2146,1077,5306,False,2020-08-29 19:44:40,We were really bummed we couldn‚Äôt cop one of t...,NaN,Instagram,False
179097,rainmaker,NaN,NaN,2017-08-16 22:12:17,709,1158,95006,False,2020-08-29 19:44:35,@politvidchannel Just not the lives of #COVID1...,"['COVID19', 'coronavirus', 'TrumpVirus']",Twitter for Android,False
179098,John Geer,NaN,#StayAtHome #StayAtHomeSaveLifes #MaskUp \nFor...,2020-04-18 01:55:14,61,168,10817,False,2020-08-29 19:44:34,Report #COVID19 outbreaks in K-12 schools here...,"['COVID19', 'CloseTheSchools', 'KeepTheSchools...",Twitter Web App,False
179105,BEEHEMOTH ‚è≥,üá®üá¶ Canada,‚öíÔ∏è The Architects of Free Trade ‚öíÔ∏è Really Did ...,2016-07-13 17:21:59,1623,2160,98000,False,2020-08-29 19:44:15,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App,False
179107,TUKY II,"Aliwal North, South Africa",TOKELO SEKHOPA | TUKY II | LAST BORN | EISH TU...,2018-04-14 17:30:07,97,1697,566,False,2020-08-29 19:44:08,I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android,False

In [21]:
df.shape[0] - 79970

99138

In [22]:
df_filt = df.dropna().reset_index(drop=True)
df_filt

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
1,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
2,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
3,üéπ Franz Schubert,–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è,üéº #–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è #Novorossiya #–æ—Å—Ç–∞–≤–∞–π—Å—è–¥–æ–º–∞ #S...,2018-03-19 16:29:52,1180,1071,1287,False,2020-07-25 12:27:06,#coronavirus #covid19 deaths continue to rise....,"['coronavirus', 'covid19']",Twitter Web App,False
4,hr bartender,"Gainesville, FL",Workplace tips and advice served up in a frien...,2008-08-12 18:19:49,79956,54810,3801,False,2020-07-25 12:27:03,How #COVID19 Will Change Work in General (and ...,"['COVID19', 'Recruiting']",Buffer,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99133,New Jersey Herald,"Newton, NJ","The New Jersey Herald, a daily newspaper in Ne...",2010-01-07 18:19:37,6274,162,38,False,2020-08-29 19:44:27,Wallkill school nurse adds COVID-19 monitoring...,"['nurses', 'COVID19', 'coronavirus', 'schools']",SocialNewsDesk,False
99134,Pris,T.O.,"A/V/L Techie, camera op. but twitter has becom...",2008-12-31 16:16:12,251,160,627,False,2020-08-29 19:44:23,"we have reached 25mil cases of #covid19, world...",['covid19'],Twitter Web App,False
99135,AJIMATI AbdulRahman O.,"Ilorin, Nigeria",Animal Scientist|| Muslim|| Real Madrid/Chelsea,2013-12-30 18:59:19,412,1609,1062,False,2020-08-29 19:44:21,Thanks @IamOhmai for nominating me for the @WH...,['WearAMask'],Twitter for Android,False
99136,Jason,Ontario,When your cat has more baking soda than Ninja ...,2011-12-21 04:41:30,150,182,7295,False,2020-08-29 19:44:16,2020! The year of insanity! Lol! #COVID19 http...,['COVID19'],Twitter for Android,False
99137,Gary DelPonte,New York City,"Global UX UI Visual Designer. StoryTeller, Mus...",2009-10-27 17:43:13,1338,1111,0,False,2020-08-29 19:44:14,"More than 1,200 students test positive for #CO...",['COVID19'],Twitter for iPhone,False

# Analisis exploratorio, tratamiento y limpieza de datos

In [23]:
df_filt.describe()

       user_followers   user_friends  user_favourites
count    9.913800e+04   99138.000000     9.913800e+04
mean     1.550841e+05    2374.224334     1.517543e+04
std      1.012846e+06   10019.923883     4.490681e+04
min      0.000000e+00       0.000000     0.000000e+00
25%      3.220000e+02     210.000000     3.330000e+02
50%      1.546000e+03     666.000000     2.184000e+03
75%      7.576000e+03    1951.000000     1.038475e+04
max      2.435916e+07  497363.000000     2.047197e+06

In [24]:
df_filt.dtypes

user_name           object
user_location       object
user_description    object
user_created        object
user_followers       int64
user_friends         int64
user_favourites      int64
user_verified         bool
date                object
text                object
hashtags            object
source              object
is_retweet            bool
dtype: object

In [25]:
df_filt.dtypes[df_filt.dtypes == "object"]

user_name           object
user_location       object
user_description    object
user_created        object
date                object
text                object
hashtags            object
source              object
dtype: object

In [29]:
df_filt['user_name'].value_counts()

covidnews.ch                                    402
GlobalPandemic.NET                              320
Blood Donors India                              282
Hindustan Times                                 267
IANS Tweets                                     228
                                               ...
Julia C. Reinhart                                 1
Mohammad Y. Al-Bahar (The Diabetic Traveler)      1
wyoming4paul (I,you,he,she,it,we,you,they)        1
Mithu Maheswaranathan, MD                         1
AJIMATI AbdulRahman O.                            1
Name: user_name, Length: 53239, dtype: int64

In [30]:
columnas_drop = ["user_name", "user_description"]

In [31]:
df_filt2 = df_filt.drop(columns = columnas_drop)
print("Tama√±o del tabl√≥n filtrado: ", df_filt.shape)
print("Tama√±o del tabl√≥n nuevo: ", df_filt2.shape)

Tama√±o del tabl√≥n filtrado:  (99138, 13)
Tama√±o del tabl√≥n nuevo:  (99138, 11)

In [32]:
df_filt2.dtypes.value_counts()

object    6
int64     3
bool      2
dtype: int64

## Reducci√≥n de variables

In [43]:
df = pd.read_csv('vaccination_all_tweets.csv')

In [46]:
# Cambia 'tu_columna_objetivo' por la columna objetivo de tu CSV
target = 'user_verified'
features = [x for x in df.columns if x != target]

print(target)
print(features)

user_verified
['id', 'user_name', 'user_location', 'user_description', 'user_created', 'user_followers', 'user_friends', 'user_favourites', 'date', 'text', 'hashtags', 'source', 'retweets', 'favorites', 'is_retweet']

In [48]:
# Aseg√∫rate de seleccionar las columnas num√©ricas que utilizar√°s como caracter√≠sticas
# Si las columnas no son num√©ricas, tendr√°s que realizar una conversi√≥n o codificaci√≥n apropiada, como One-Hot Encoding
features = ['user_followers', 'user_friends', 'user_favourites']
target = 'user_verified'

# Rellena los valores faltantes con cero (o cualquier otro valor apropiado)
df[features] = df[features].fillna(0)

# Convierte las columnas de caracter√≠sticas a tipos num√©ricos (int64 o float64)
df[features] = df[features].astype('float64')

# Convierte la columna objetivo a un tipo num√©rico, si es necesario (por ejemplo, si es booleano)
df[target] = df[target].astype('int64')

In [49]:
arbol_importancia = DecisionTreeRegressor(max_depth=len(features)+10, random_state=42)
arbol_importancia.fit(X=df[features], y=df[target])

DecisionTreeRegressor(max_depth=13, random_state=42)